/* reordered the page so that the flow matches the order of the html elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* added the <a> selector and combined its styles with the existing .header styles 
in html I took out the class="header" and changed the div to a header tag, used it as the selector instead */
header, 
a {
    padding: 20px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    text-decoration: none;
}
/* there is only one h1 element, used it as the selector rather than the class + tag */
 h1 {
    display: inline-block;
    font-size: 48px;
}
/* trimmed down selector by only using the class of the element */
.seo {
    color: #d9dcd6;
}
/* swapped div tag for nav in html and used it as selector rather than .header div */
 nav {
    padding-top: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}
/* cleaned up the selector it was previously
.header div ul li
just using li still yields the same result and it is less visually confusing  */
li {
    display: inline-block;
    margin-left: 25px;
}
/* made the div in html a img tag and added the image url there and deleted it. also added the mainimage class and used it as a selector rather than the class="hero" */
.mainimage {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* combined .search-engine-optimization,  .online-reputation-management, and .social-media-marketing to delete repetitive code. Also changed them in html to the same class to not have to use multiple selectors */
.main-sections
{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}
/* combined .benefit-lead h3 */
h2
{
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-size: 16px;
}
/* changed the class in index.html and updated the selector */
.benefits-panel {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* combined .benefit-cost, 
.benefit-brand,
.benefit-lead and changed their classes in index.html to benefit to make the code more readable */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}
/* use the h3 selector rather than multiple class selectors */
 h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*combined .benefit-cost img, .benefit-brand img,and .benefit-lead img then changed their elements class to benefit in index.html*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* changed selector to element selector becuase I deleted the class of the footer tag */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* made the footer heading an h4 in HTML so I used it as the selector here because it is the only h4 */
 h4 {
    font-size: 20px;
}
